<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!--..............CSS LINKING.............-->
    <link rel="stylesheet" href="clearall.css">
    <link rel="stylesheet" href="style.css">


    <!--..............SCRIPT.............-->
    <script src="p5\p5.js"></script>

    <script src="Pad.js" type="text/javascript" defer></script>
    <script src="control.js" type="text/javascript" defer></script>

    <title>The Ollator - Playground</title>

  </head>
  <header>
    <div class="logo_container">
      <img id="logo" src="TO.png" alt="The Ollator">
    </div>
  </header>
  <body>
    <div class="main_container">
      <div class="cs_container">
        <div class="channel_strip" id="drums_channel_strip">
          <div class="cs_header">
            <h2 class="channel_name">Drums</h2>
            <div class="channel_logo">
            </div>
          </div>
          <div class="pad_section" id="drums_pad">
          </div>
          <div class="knobs_section">
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_d1">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_d2">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_d3">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_d4">
            </div>
          </div>
          <div class="volume_section">
            <div class="volume_knob_container">
              <img src="images\knob.svg" class="knob" id=knob_dv>
            </div>
          </div>
        </div>

        <div class="channel_strip" id="bass_channel_strip">
          <div class="cs_header">
            <h2 class="channel_name">Bass</h2>
            <div class="channel_logo">
            </div>
          </div>
          <div class="pad_section" id="bass_pad">
          </div>
          <div class="knobs_section">
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_b1">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_b2">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_b3">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_b4">
            </div>
          </div>
          <div class="volume_section">
            <div class="volume_knob_container">
              <img src="images\knob.svg" class="knob" id=knob_bv>
            </div>
          </div>
        </div>


        <div class="channel_strip" id="harmony_channel_strip">
          <div class="cs_header">
            <h2 class="channel_name">Harmony</h2>
            <div class="channel_logo"></div>
          </div>
          <div class="pad_section" id="harmony_pad">
          </div>
          <div class="knobs_section">
            <div class="knob_container" >
              <img src="images\knob.svg" class="knob" id="knob_h1">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_h2">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_h3">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_h4">
            </div>
          </div>
          <div class="volume_section">
            <div class="volume_knob_container">
              <img src="images\knob.svg" class="knob" id=knob_hv>
            </div>
          </div>
        </div>


        <div class="channel_strip" id="melody_channel_strip">
          <div class="cs_header">
            <h2 class="channel_name">Melody</h2>
            <div class="channel_logo"></div>
          </div>
          <div class="pad_section" id="melody_pad">
          </div>
          <div class="knobs_section">
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_m1">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_m2">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_m3">
            </div>
            <div class="knob_container">
              <img src="images\knob.svg" class="knob" id="knob_m4">
            </div>
          </div>
          <div class="volume_section">
            <div class="volume_knob_container">
              <img src="images\knob.svg" class="knob" id=knob_mv>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <footer>
    <div class="track_info_container">
      <p>info</p>
    </div>

    <div class="bpm_container">
      <form id = 'bpm_form' action = "index.html" method = "post">
        <button type = "button" id = "minus_btn" name = "minus">
          <img id = 'minus_img' class = 'bpm_btn' alt = "minus" >
        </button>
        <input type = "number" id = "bpm_bar" name = "bpm" value = "120">
        <button type = "button" id ="plus_btn" name = "plus">
          <img id = 'plus_img' class = 'bpm_btn' alt = "plus" >
        </button>
      </form>
    </div>
    <div class="pp_container">
      <div id="pp_btn">
        <img class="play" id='pp_img' alt="play" >
      </div>
    </div>
  </footer>

</html>
