
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

@font-face {
  font-family: dripFont;
  /* src: url("fonts/adrip1.ttf"); */
  src: url("fonts/ApocalypseGrunge.ttf");
}

:root {
  /* --drumColor: #71fcc5;
  --bassColor: #ffd1f8;
  --harmonyColor: #16fef1;
  --melodyColor:#f9fc4d; */

  --drumColor:#f9fc4d;
  --bassColor:#16fef1;
  --harmonyColor:#71fcc5;
  --melodyColor:#ffd1f8;
  --ollareColor: #f300ef;
}

body{
  height: 100vh;
  color: white;
  /* background-color: black;  */

  background-image: url("/static/style/imgs/5.jpg");
  user-select:none;
  /* font-family: 'UnifrakturCook', cursive; */
  font-family: dripFont;
}

header{
  height: 15%;
}

.logo_container{
  width: 100vw;
  height: 100%;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo{
  height: 130%;
  width: auto;
  z-index: 1;
}


.main_container{
  width: 100%;
  height: 70%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cs_container{
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.channel_strip{
  width: 23%;
  height: 100%;

  background-color: #282828;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

  border-radius: 10px;
  border: 2px solid #3e3e3e;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.cs_header{
  width: 95%;
  height: 9%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.channel_name{
  font-family: dripFont;
  font-size: 185%;
  font-weight: 300;
  text-shadow: 2px 3px 5px #888888;
  letter-spacing: 0.1em;
}

#drums_channel_name{
  color: var(--drumColor);
}

#bass_channel_name{
  color: var(--bassColor);
}

#harmony_channel_name{
  color: var(--harmonyColor);
}

#melody_channel_name{
  color: var(--melodyColor);
}

.channel_logo{
  display: none;
}


#drums_channel_strip{
   box-shadow: /*2px 2px 10px var(--drumColor), -2px -2px 10px var(--drumColor),
              -2px 2px 10px var(--drumColor), 2px -2px 10px var(--drumColor), */
              0px 20px 100px rgba(250, 252, 168, 0.76), 20px 0px 100px rgba(253, 255, 139, 0.76),
              inset 2px 2px 10px #555555, inset -2px 2px 10px #555555,
              inset 2px -2px 10px #555555, inset -2px -2px 10px #555555;
}

#bass_channel_strip{
  box-shadow: /*2px 2px 10px var(--bassColor), -2px -2px 10px var(--bassColor),
              -2px 2px 10px var(--bassColor), 2px -2px 10px var(--bassColor), */
              0px 20px 100px rgba(79, 248, 240, 0.753), 20px 0px 100px rgba(79, 248, 240, 0.753),
              inset 2px 2px 10px #555555, inset -2px 2px 10px #555555,
              inset 2px -2px 10px #555555, inset -2px -2px 10px #555555;
}

#harmony_channel_strip{
  box-shadow: /*2px 2px 10px var(--harmonyColor), -2px -2px 10px var(--harmonyColor),
              -2px 2px 10px var(--harmonyColor), 2px -2px 10px var(--harmonyColor), */
              0px 20px 100px rgba(129, 255, 205, 0.74), 20px 0px 100px rgba(129, 255, 205, 0.74),
              inset 2px 2px 10px #555555, inset -2px 2px 10px #555555,
              inset 2px -2px 10px #555555, inset -2px -2px 10px #555555;
}

#melody_channel_strip{
  box-shadow: /*2px 2px 10px var(--melodyColor), -2px -2px 10px var(--melodyColor),
              -2px 2px 10px var(--melodyColor), 2px -2px 10px var(--melodyColor), */
              0px 20px 100px rgba(250, 167, 237, 0.74), 20px 0px 100px rgba(250, 167, 237, 0.74),
              inset 2px 2px 10px #555555, inset -2px 2px 10px #555555,
              inset 2px -2px 10px #555555, inset -2px -2px 10px #555555;
}

p{
    letter-spacing: 0.14em;
    color: #bfbfb7;
    padding-top: 14px;
    padding-left: 20px;
}

/* unvisited link */
a:link {
  color: #ff00fa;
  text-shadow: 2px 3px 5px #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ff00fa;
  text-shadow: 2px 3px 5px #888888;
  text-decoration: none;
}

/*--drumColor: rgb(113,252,197);
  --bassColor: rgb(254,156,239);
  --harmonyColor: rgb(22,254,241);
  --melodyColor:rgb(249, 252, 77);*/

.pad_section{
  width: 75%;
  height: 29%;
  border-radius: 2px;
  border: 2px solid black;
}

.knobs_section{
  width: 95%;
  height: 39%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

}

.knob_container{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.shadow{
  width: 50%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 10px 20px black;
}


.knob {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    transform: rotate(-160deg);

    width: 100%;
    height: auto;
    border-radius: 50%;
    /* box-shadow: 0px 10px 20px black; */
    /* box-shadow: inset 0px 4px 2px #a8b218; */
    cursor: grab;
}

.knob:before{
  display: block;
  width: 40px;
  height: 40px;
  content: '';
  z-index: 2;
  background-color: yellow;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  border-radius: 50%;
  /* box-shadow: 0px 10px 20px black; */
}

.knob:active{
  cursor: grabbing;
}

#knob_d1,#knob_d2,#knob_d3,#knob_d4,#knob_dv{
  box-shadow: inset 0px 7px 5px var(--drumColor);
}

#knob_b1,#knob_b2,#knob_b3,#knob_b4,#knob_bv{
  box-shadow: inset 0px 7px 5px var(--bassColor);
}

#knob_h1,#knob_h2,#knob_h3,#knob_h4,#knob_hv{
  box-shadow: inset 0px 7px 5px var(--harmonyColor);
}

#knob_m1,#knob_m2,#knob_m3,#knob_m4,#knob_mv{
  box-shadow: inset 0px 7px 5px var(--melodyColor);
}

.volume_section{
  width: 95%;
  height: 19%;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.volume_knob_container{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.volume_knob_container .shadow{

    width: 30%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 20px black;

}


footer{
  height: 15%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
}

.track_info_container{


}

.bpm_container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#bpm_form{
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*---------------remove arrows in numeric input form--------------/*

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*----------------------------------------------------------------*/

#bpm_bar{
  text-align: center;
  width: 50%;
  height: 50%;
  color: var(--ollareColor);
  background-color: #090909;
  border-radius: 5px;
  border-color: black;
  font-size: 133%;
  font-family: dripFont;
  letter-spacing: 0.07em;
}

#bpm_bar::selection {
  color: white;
  background: var(--ollareColor);
}

input[type=number]:focus{
  outline: none;
  box-shadow: 0 0 3pt 2pt var(--ollareColor);
}

#plus_btn{
  width: 10%;
  height: 60%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  border-radius: 5px;

  box-shadow: 0px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#minus_btn{
  width: 10%;
  height: 60%;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  box-shadow: 0px 5px 5px black;

  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bpm_btn{
  width: 90%;
  height: auto;
  cursor: pointer;
}
#plus_img{
  content:url("/static/style/imgs/plus.png");
}

#minus_img{
    content:url("/static/style/imgs/minus.png");
}

.pp_container{
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#pp_btn{
  width: 45%;
  height: 50%;
  border-radius: 10px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  box-shadow: 0px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


#pp_btn:active{
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#pp_img{
  height: 50%;
  width: auto;
}

.play{
  content:url("/static/style/imgs/play.png");
}

.pause{
  content:url("/static/style/imgs/pause.png");
}

#load_btn{
  width: 45%;
  height: 50%;
  border-radius: 10px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  box-shadow: 0px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


#load_img{
  height: 50%;
  width: auto;
}


.load{
  content:url("/static/style/imgs/load.svg");
}


#record_btn{
  width: 45%;
  height: 50%;
  border-radius: 10px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  box-shadow: 0px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#record_btn:active{
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#rec_img{
  height: 33px;
  width: 33px;
  border-radius:50%;
  background-color: var(--ollareColor);
}

@keyframes recording {
  0%   {}
  50%  {box-shadow: 0px 0px 20px var(--ollareColor);}
  100% {}
}

.active{
    animation: recording 2s infinite;
}

.overlayContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    background-color: rgba(50, 50, 50, 0.5);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#popupPanel{
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    border-radius: 14px;
    box-shadow: 0px 0px 50px var(--ollareColor);
    z-index: 1;
    width: 25%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sceckItOut{
    padding-left: 0px;
    margin-bottom: 25px;
    font-size: 206%;
}