@font-face {
  font-family: myFont;
  src: url("fonts/AnotherAmerica.ttf");
}

header{
  height: 15vh;
}

.logo_container{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo{
  height: 130%;
  width: auto;
  /* z-index: 1; */
}

#mainContainer{
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: vertical;
  align-items: center;
  justify-content: center;
}

#chartContainer{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  border-radius: 9px;
  border: 1px solid black;
}

#sliderContainer{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singleSlider{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sliderName{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  font-family: myFont;
  letter-spacing: 0.22em;
  font-size: 118%;
}

#radarContainer{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#radarChart{
  height: 80% !important;
  width: auto !important;
}

#playBeat{
}

#continueButton{
  height: 40px;
  width: 40px;
  background-color: bisque;
}