@font-face {
  font-family: myFont;
  src: url("fonts/AnotherAmerica.ttf");
}

header{
  height: 15vh;
}

.logo_container{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#logo{
  height: 130%;
  width: auto;
  /* z-index: 1; */
}

#mainContainer{
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chartContainer{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  border-radius: 9px;
  border: 1px solid black;
}

#sliderForm{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singleSlider{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sliderName{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  font-family: myFont;
  letter-spacing: 0.22em;
  font-size: 118%;
}

#radarContainer{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#radarChart{
  height: 80% !important;
  width: auto !important;
}

.belowStuff{
  width: 80%;
  height: 20%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
}

.playContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#continueButton{
  width: 30%;
  height: 40%;
  background-color: rgb(243 0 239);

  background: -moz-linear-gradient(top,  rgb(243 0 239) 0%, rgb(15,15,15) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgb(243 0 239) 0%, rgb(15,15,15) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(243 0 239) 0%, rgb(15,15,15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

  color: white;
  font-family: myFont;
  font-size: 150%;
  letter-spacing: 0.16em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.continueButtonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submitBtn{
  display: none;
}