<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>THE OLLATOR</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/cleanAll.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/featureSelStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/sliderStyle.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='featureSelection.js') }}" type="text/javascript" defer></script>

</head>

<header>
    <div class="logo_container">
      <img id="logo" src="{{ url_for('static', filename='style/imgs/TO.png') }}" alt="The Ollator">
    </div>
</header>

<body>
    <div id="mainContainer">
        <div id="chartContainer">
            <form id="sliderForm" action="/openDAW" method="get">
                <div class = 'sliderName'>Energy</div>
                <div class="singleSlider">
                    <input name="Energy" id ='sliderEnergy' type="range" min="0" max="100" value="0" class="range blue"/>
                </div>
                <div class = 'sliderName'>Valence</div>
                <div class="singleSlider">
                    <input name="Valence" id ='sliderValence' type="range" min="0" max="100" value="0" class="range blue"/>
                </div>
                <div class = 'sliderName'>Danceability</div>
                <div class="singleSlider">
                    <input name="Danceability" id ='sliderDanceability' type="range" min="0" max="100" value="0" class="range blue"/>
                </div>
                <div class = 'sliderName'>Mode</div>

                <!-- Rounded switch -->
                <div class="singleSlider">
                    <label class="switch">
                        <input name="Mode" type="checkbox" id="switchMode">
                        <span class="slider round">
                            <div class="modeText">Minor</div>
                        </span>
                    </label>
                </div>


                <!-- <div class="singleSlider">
                    <input name="Mode" id ='sliderMode' type="range" min="0" max="100" value="0" class="range blue"/>
                </div> -->
                <input id="rescan" class="submitBtn" type="submit" value="Submit">
            </form>
            <div id="radarContainer">
                <canvas id="radarChart"></canvas>
            </div>
        </div>
        <div class = "belowStuff">
            <div class = "playContainer">
                <iframe id = "spotifyPlayer" src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class = "continueButtonContainer">
              <div id = "continueButton">
                  <p>continue</p>
              </div>
            </div>  
        </div>
    </div>
    
</body>

</html>