<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THE OLLATOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/cleanAll.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  </head>
  <body>
    <div class="logoSection">
        <img class="logoImg" src="{{ url_for('static', filename='style/imgs/TO.png') }}" alt="THE OLLATOR">
    </div>
    <div class="formSection">
      <form class="" action="/playlist" method="get">
        <label for="playlist_url">Spotify Playlist URL</label> <input class="urlArea" type="text" name="playlist_url" placeholder="Spotify Playlist URL..">
        <input class="submitBtn" type="submit">
      </form>
    </div>
    <div class="footer">
      <p>Generate your Hip-Hop track in seconds</p>
    </div>
      <form action="/fileUpload" enctype="multipart/form-data" method="POST">
      <label for="uploadedBeat">Select a file:</label>
      <input type="file" id="uploadedBeat" name="uploadedBeat"><br><br>
      <input type="submit">
    </form>
  </body>
</html>
