<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THE OLLATOR - LOG IN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/cleanAll.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  </head>
  <body>
    <div class="logoSection">
        <img class="logoImg" src="{{ url_for('static', filename='style/imgs/TO.png') }}" alt="THE OLLATOR">
    </div>
    <div class="formSection">
        <a href="/login"> <button class="button" type="button">Log In</button> </a>
    </div>
    <div class="footer">
      <p>Generate your Hip-Hop track in seconds</p>
    </div>
  </body>
</html>

