<html>
	<head>
		<script src='https://surikov.github.io/webaudiofont/npm/dist/WebAudioFontPlayer.js'></script>
		<script src='https://surikov.github.io/webaudiofontdata/sound/0250_SoundBlasterOld_sf2.js'></script>
		<script src="{{ url_for('static', filename='Tone.js') }}" type="text/javascript"></script>
		<script
			type="module"
			src="{{ url_for('static', filename='Metronome.js') }}"
		></script>
		<script>
			var AudioContextFunc = window.AudioContext || window.webkitAudioContext;
			var audioContext = new AudioContextFunc();
			var player=new WebAudioFontPlayer();
			player.loader.decodeAfterLoading(audioContext, 'https://tonejs.github.io/audio/berklee/gong_1.mp3');
			function play(){
				player.queueWaveTable(audioContext, audioContext.destination
					, _tone_0250_SoundBlasterOld_sf2, 0, 12*4+7, 2);
				return false;
			}

			//attach a click listener to a play button
			document.getElementById('startbutton')?.addEventListener('click', start)
		</script>
	</head>
	<body>
		<p><a href='javascript:play();'>Hello, world!</a></p>
	<button id="startbutton" onclick="start()">Start</button>
	<button onclick="stop()">Stop</button>
	<form>
		<input id="bpm" type="number" value="60">
		<button type="button" onclick="submitBPM()">Enter BPM</button>
	</form>
	</body>
</html>